@import (reference) '@transferwise/neptune-css/src/less/addons/_spacing-utilities.less';

@flag: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCFET0NUWVBFIHN2ZyBQVUJMSUMgIi0vL1czQy8vRFREIFNWRyAxLjEvL0VOIiAiaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkIj4KPHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJ0cmFuc2Zlcndpc2UtZmxhZyIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IgoJIHk9IjBweCIgdmlld0JveD0iMCAwIDQ4IDUyIiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCA0OCA1MiIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+CjxwYXRoIGZpbGw9IiMwMEM2RkYiIGQ9Ik01LjgsMGw4LjIsMTMuNkwwLjEsMjcuMmgyNC4xbDIuNi01LjRIMTNsOC4yLTguM2wtNS04aDIyLjZMMTkuMiw1Mmg2LjdsMjItNTJINS44eiIvPgo8L3N2Zz4=);

.np-flow-navigation {
  width: 100%;
  // This prevents jumping when border disappears.
  min-height: 97px;

  &--border-bottom {
    // This is the natural height of FlowNavigation when the Avatar is displayed.
    min-height: 96px;
    border-bottom: 1px solid var(--color-border-neutral);
  }

  &__content {
    width: 100%;
    min-width: 320px;
    max-width: 1164px;
  }

  &__stepper {
    .p-b-0;
    .p-x-0;
  }

  &--xs-max {
    .np-flow-navigation__stepper {
      .tw-stepper-steps {
        display: none;
      }

      .progress {
        .m-b-0;
      }
    }

    .np-animated-label {
      height: auto;
    }
  }

  &--sm {
    .np-flow-navigation__stepper {
      .p-x-3;

      min-height: 56px;
    }
  }

  &--lg {
    .np-flow-navigation__stepper {
      max-width: 562px;
    }
  }

  .separator {
    .m-x-2;

    height: var(--size-32);
    width: 1px;
    min-width: 1px;
    background-color: var(--color-border-neutral);
  }

  &--hidden {
    visibility: hidden;
  }

  &--flag {
    width: var(--size-24);
    height: var(--size-32);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-image: @flag;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;

    &__hidden {
      position: absolute;
      opacity: 0;
      transform: rotate(90deg);
      margin-top: -24px;
      z-index: -1;
    }

    &__display {
      opacity: 1;
      transform: rotate(0deg);
    }
  }
}
