@import (reference) '@transferwise/neptune-css/src/less/addons/_spacing-utilities.less';

.np-flow-navigation {
  min-width: 320px;
  .p-b-1;

  @media (--screen-sm) {
    .p-b-5;
  }

  &__stepper {
    .p-b-0;
    .p-x-0;
    @media (--screen-sm) {
      .p-x-5;
    }
  }

  .separator {
    .m-x-2;
    height: var(--size-32);
    width: 1px;
    background-color: var(--color-border-neutral);
  }
  &--hidden {
    visibility: hidden;
  }

  &--logo {
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    &__hidden {
      position: absolute;
      opacity: 0;
      transform: rotate(90deg);
      margin-top: -24px;
      z-index: -1;
    }
    &__display {
      opacity: 1;
      transform: rotate(0deg);
    }
  }
  @media (--screen-xs-max) {
    .np-animated-label {
      height: auto;
    }
  }
}
