@font-face {
  font-weight: 500;
  font-family: 'Averta';
  src: url('../fonts/Wise-Averta-Regular.woff2') format('woff2'),
    url('../fonts/Wise-Averta-Regular.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-weight: 600;
  font-family: 'Averta';
  src: url('../fonts/Wise-Averta-Semibold.woff2') format('woff2'),
    url('../fonts/Wise-Averta-Semibold.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-weight: 800;
  font-family: 'Averta';
  src: url('../fonts/Wise-Averta-Bold.woff2') format('woff2'),
    url('../fonts/Wise-Averta-Bold.woff') format('woff');
  font-display: swap;
}
