@import (reference) '@transferwise/neptune-css/src/less/variables/_typography.less';

.np-summary {
  min-width: 280px;

  &__title {
    margin-top: 2px;
    line-height: calc(22 / 16);

    .np-info__small {
      margin-top: 2px;
    }
  }

  &__icon {
    position: relative;
    color: var(--color-primary);

    .np-summary-icon__done {
      color: var(--color-control-positive);
    }

    .np-summary-icon__pending {
      color: var(--color-control-warning);
    }
    // The second icon is the badge
    :nth-child(2) {
      background-color: var(--color-background-screen);
      border-radius: 50%;
      position: absolute;
      right: -8px;
      bottom: -6px;
    }
  }

  &__description {
    margin-top: var(--size-4);
    font-size: @font-size-small;
    line-height: calc(20 / 14);
  }

  &__action {
    margin-top: var(--size-4);
    font-size: @font-size-small;
    line-height: calc(18 / 14);
  }

  & + .np-summary {
    margin-top: var(--size-24);
  }
}
