@import (reference) '@transferwise/neptune-css/dist/less/zindex.less';

// Popper recommend using the popper element as a wrapper around an inner
// element that can have any CSS property transitioned for animations.
.np-panel {
  // This is needed because since the __content is visible:hidden the element will still occupy some space even if is not
  // visible. That means that if there is an element in proximity may be not clickable because it is underneath the invisible
  // layer.
  z-index: @zindex-popover;
  pointer-events: none;

  &__content {
    opacity: 0;
    visibility: hidden;
    background-color: var(--color-background-elevated);
    border-radius: var(--radius-small);
    box-shadow: 0 0 40px rgba(34, 48, 73, 0.2);
    transition:
      opacity 0.1s cubic-bezier(0.6, 0.2, 0.1, 1),
      transform 0.1s cubic-bezier(0.6, 0.2, 0.1, 1),
      visibility 0s linear 0.1s;
  }

  &--open {
    pointer-events: auto;

    .np-panel__content {
      transition: opacity 0.1s cubic-bezier(0.6, 0.2, 0.1, 1), transform 0.1s cubic-bezier(0.6, 0.2, 0.1, 1), visibility 0s linear 0s;
      visibility: visible;
      opacity: 1;
      transform: none !important;
    }
  }

  &__arrow,
  &__arrow::before {
    position: absolute;
    width: 14px;
    height: 14px;
  }

  &__arrow::before {
    content: '';
    transform: rotate(45deg);
    background: var(--color-background-elevated);
  }

  &[data-popper-placement^='top'] > &__content {
    transform: translateY(10px) scale(0.95);

    .np-panel__arrow {
      bottom: -6px;
    }
  }

  &[data-popper-placement^='right'] > &__content {
    transform: translateX(-10px) scale(0.95);

    .np-panel__arrow {
      left: -6px;
    }
  }

  &[data-popper-placement^='bottom'] > &__content {
    transform: translateY(-10px) scale(0.95);

    .np-panel__arrow {
      top: -6px;
    }
  }

  &[data-popper-placement^='left'] > &__content {
    transform: translateX(10px) scale(0.95);

    .np-panel__arrow {
      right: -6px;
    }
  }
}
