{
  "extends": "@transferwise",
  "rules": {
    "react/destructuring-assignment": [0, "never"],
    "jsx-a11y/label-has-for": [
      2,
      {
        "required": {
          "some": ["nesting", "id"]
        }
      }
    ],
    "react/sort-comp": 0,
    "react/no-unused-state": 0,
    "import/no-cycle": 0,
    "fp/no-mutation": 0,
    "react/jsx-props-no-spreading": 0,
    "import/no-extraneous-dependencies": [
      0,
      {
        "devDependencies": ["src/**/*.story.js", ".storybook/*.js"]
      }
    ],
    "react/prop-types": [
      "error",
      {
        "ignore": [
          "intl"
        ]
      }
    ]
  }
}
