@import (reference) '../variables/neptune-tokens.less';
@import (reference) './variables/_typography.less';

@progress-height: 2px;
@progress-pip-size: 8px;

.progress {
  height: @progress-height;
  margin-top: calc((var(--size-24) - @progress-height) / 2);
  margin-bottom: calc((var(--size-24) - @progress-height) / 2);
  background-color: @color-base-smoke-light;
  border-radius: calc(@progress-height / 2);
}

.progress-bar {
  float: left;
  width: 0%;
  height: 100%;
  font-size: @font-size-base;
  font-weight: bold;
  color: @color-base-white;
  text-align: right;
  background-color: @color-base-blue-light;
  transition: width 0.6s ease;

  @media (--screen-md) {
    font-size: @font-size-base--desktop;
  }

  &::after {
    content: '';
    float: right;
    margin-top: @progress-pip-size / 2 + 1;
    margin-right: @progress-pip-size / 2;
    width: @progress-pip-size;
    height: @progress-pip-size;
    background-color: inherit;
    border-radius: @progress-pip-size / 2;
  }

  &:first-child {
    border-top-left-radius: @progress-height / 2;
    border-bottom-left-radius: @progress-height / 2;
  }

  &:last-child {
    border-top-right-radius: @progress-height / 2;
    border-bottom-right-radius: @progress-height / 2;
  }
}

.progress-bar-primary {
  background-color: @color-base-navy-light;
}

.progress-bar-success {
  background-color: @color-base-green-light;
}

.progress-bar-info {
  background-color: @color-base-blue-light;
}

.progress-bar-warning {
  background-color: var(--color-warning);
}

.progress-bar-danger {
  background-color: var(--color-negative);
}
