@import (reference) '@transferwise/neptune-css/src/variables/neptune-tokens.less';

.tw-select {
  .tw-icon {
    display: inline-block;
    margin-right: var(--size-8);
    margin-top: -2px;
    vertical-align: middle;
  }

  .tw-dropdown-item {
    &--clickable {
      cursor: pointer;
    }

    &--divider {
      border-bottom-style: solid;
      border-bottom-width: 1px;
      border-bottom-color: @color-base-smoke-fade;
    }

    &--focused {
      background-color: var(--color-background-neutral);
    }

    .currency-flag {
      margin-right: var(--size-8);
    }
  }

  .dropdown-toggle.btn-input {
    &.btn-sm {
      padding-right: var(--size-32);
    }

    &.btn-md {
      padding-right: var(--size-40);
    }

    &.btn-lg {
      padding-right: var(--size-48);
    }
  }

  .dropdown-toggle .tw-select-chevron,
  .dropdown-toggle tw-chevron-down-icon > span {
    margin: 0;
  }

  .dropdown-toggle > span > .tw-icon,
  .dropdown-toggle tw-icon span.tw-icon {
    position: static;
    display: inline-block;
  }

  .circle .tw-icon {
    vertical-align: middle;
  }
}

@media (--screen-xs-max) {
  .dropup,
  .dropdown {
    > .tw-select.dropdown-menu {
      transition: none !important;
    }
  }

  .tw-select.select-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: block !important;
    background: rgba(0, 0, 0, 0.3);
    z-index: 999;
    animation: twSelectFadeIn 0.2s cubic-bezier(0.6, 0.2, 0.1, 1) both;
  }

  .tw-select.dropdown-menu.dropdown-menu--open {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    top: auto;
    max-width: 100%;
    width: 100% !important;
    max-height: 50vh;
    animation: twSelectFadeUp 0.2s cubic-bezier(0.6, 0.2, 0.1, 1) both;
    visibility: visible;
    opacity: 1;
    overflow: auto;
  }
}

@keyframes twSelectFadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes twSelectFadeUp {
  from {
    opacity: 0;
    transform: translateY(100%);
  }

  to {
    opacity: 1;
    transform: none;
  }
}
