.tw-nudge {
  background-color: var(--color-background-neutral);
  padding: var(--size-16);
  border-radius: var(--radius-medium);

  &__title {
    &.media-heading {
      margin-bottom: var(--size-4);
    }
  }

  &__link {
    text-decoration: none;

    &:hover,
    &:focus {
      text-decoration: none;
    }
  }
}
