.tw-popover.bottom-left:before{right:22px}.tw-popover .tw-icon{display:inline-block}
.np-btn{position:relative}.np-btn.np-btn-block>span.btn-loader{position:absolute;left:24px;left:var(--size-24,24px)}.np-btn.np-btn-xs>span.btn-loader{background-size:16px 16px}.np-btn.np-btn-xs.btn-block>span.btn-loader{top:0}
