@import '~bootstrap/less/variables';

.tw-stepper {
  padding-bottom: 24px;

  @media only screen and (max-width: @screen-xs-max) {
    padding-bottom: 0px;
  }

  &__step {
    position: absolute;
    list-style-type: none;

    &--active .tw-stepper__step-label {
      color: @brand-navy-minus-10;
      font-weight: @font-weight-semi-bold;
    }

    &--clickable .tw-stepper__step-label {
      color: @brand-light-blue;
      font-weight: @font-weight-semi-bold;
      transition: color 0.15s ease-in-out;

      &:hover, &:focus {
        color: @brand-light-blue-minus-10;
      }
    }
  }

  &__step-label {
    color: @brand-smoke-minus-10;
    transition: color 0.6s ease-in-out;
    position: absolute;
    white-space: nowrap;
    transform: translateX(-50%);
  }

  & .tooltip {
    top: 24px !important;
  }

  & .tooltip-container {
    display: block;
  }
}

.tw-stepper-steps {
  position: relative;
}

.progress-bar-ending {
  float: left;
  height: 100%;
  background: linear-gradient(to right, @brand-light-blue, @brand-navy-minus-10);
  transition: width 0.6s ease-in-out;

  &::after {
    float: right;
    width: 8px;
    height: 8px;
    margin-top: -3px;
    margin-right: -4px;
    content: '';
    background-color: @brand-navy-minus-10;
    border-radius: 4px;
  }
}

.progress-bar-filler {
  float: left;
  height: 100%;
  background-color: @brand-light-blue;
  border-top-left-radius: 1px;
  border-bottom-left-radius: 1px;
  transition: width 0.6s ease-in-out;
}

.btn-unstyled {
  background: none;
  outline: none;
  border: none;
  margin: 0;
  padding: 0;
  display: block;
}
