.progress-bar-ending {
  float: left;
  width: 0%;
  height: 100%;
  background: linear-gradient(to right, #00b9ff, #2e4369);
  border-top-right-radius: 1px;
  border-bottom-right-radius: 1px;
  transition: width 0.6s ease-in-out;
}

.progress-bar-ending::after {
  float: right;
  width: 8px;
  height: 8px;
  margin-top: -3px;
  margin-right: -4px;
  content: '';
  background-color: #2e4369;
  border-radius: 4px;
}

.progress-bar-filler {
  float: left;
  width: 0%;
  height: 100%;
  background-color: #00b9ff;
  border-top-left-radius: 1px;
  border-bottom-left-radius: 1px;
  transition: width 0.6s ease-in-out;
}

.tw-stepper-steps {
  position: relative;
}

.tw-stepper__step {
  position: absolute;
  list-style-type: none;
}

.tw-stepper__step-label {
  color: #a8aaac;
  transition: color 0.6s ease-in-out;
  position: absolute;
  white-space: nowrap;
  transform: translateX(-50%);
}

.tw-stepper__step--active .tw-stepper__step-label {
  color: #2e4369;
}

.tw-stepper__step--done .tw-stepper__step-label {
  color: #1bc0ff;
}

.tw-stepper__step-hover-label {
  visibility: hidden;
  position: absolute;
  text-align: center;
  display: block;
  opacity: 0;
  transition: opacity 0.15s ease-in-out, transform 0.15s ease-in-out, visibility 0s linear 0.15s;
  transform: translateY(calc(-100% - 19px)) translateX(-50%) scale(0.98);
  transform-origin: bottom;
  background-color: white;
  box-shadow: 2px 2px 12px 2px rgba(0, 0, 0, 0.3);
  border-radius: 2px;
  min-width: 150px;
  top: 0;
}

.tw-stepper__step:hover .tw-stepper__step-hover-label {
  transform: translateY(calc(-100% - 19px)) translateX(-50%) scale(1);
  transition: opacity 0.15s ease-in-out, transform 0.15s ease-in-out, visibility 0.15s linear 0s;
  visibility: visible;
  opacity: 1;
}

.tw-stepper__step:first-child .tw-stepper__step-hover-label {
  transform: translateY(calc(-100% - 19px)) translateX(-32px) scale(0.98);
}

.tw-stepper__step:first-child:hover .tw-stepper__step-hover-label {
  transform: translateY(calc(-100% - 19px)) translateX(-32px) scale(1);
}

.tw-stepper__step:last-child .tw-stepper__step-hover-label {
  transform: translateY(calc(-100% - 19px)) translateX(calc(-100% + 32px)) scale(0.98);
}

.tw-stepper__step:last-child:hover .tw-stepper__step-hover-label {
  transform: translateY(calc(-100% - 19px)) translateX(calc(-100% + 32px)) scale(1);
}

.tw-stepper__step-hover-label::before {
  /* triangle */
  box-shadow: 2px 2px 12px 2px rgba(0, 0, 0, 0.3);
  width: 16px;
  height: 16px;
  background-color: white;
  transform: rotate(45deg);
  content: '';
  display: block;
  position: absolute;

  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  bottom: -8px;
}

.tw-stepper__step:first-child .tw-stepper__step-hover-label::before {
  left: calc(-100% + 64px);
}

.tw-stepper__step:last-child .tw-stepper__step-hover-label::before {
  right: calc(-100% + 64px);
}

.tw-stepper__step-hover-label::after {
  /* triangle top part covering box */
  width: 64px;
  height: 20px;
  background-color: white;
  content: '';
  display: block;
  position: absolute;

  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  bottom: 0;
}

.tw-stepper__step:first-child .tw-stepper__step-hover-label::after {
  left: calc(-100% + 84px);
}

.tw-stepper__step:last-child .tw-stepper__step-hover-label::after {
  right: calc(-100% + 84px);
}

.btn-unstyled {
  background: none;
  outline: none;
  border: none;
  margin: 0;
  padding: 0;
  display: block;
}
