.tw-accordion-item {
  display: block;
  width: 100%;
  padding: 10px 24px;
  &:hover {
    background-color: #fff !important; // overrides bootstrap rule for .decision
  }

  .chevron {
    vertical-align: middle;
  }

  .media {
    flex-wrap: wrap;
  }

  .media-body {
    white-space: normal;
  }

  .accordion-content {
    transition-timing-function: ease;
    transition-duration: 0.35s;
    transition-property: all;
    max-height: 300px;
    overflow: auto;
  }

  &.closed {
    .accordion-content {
      height: 0;
      max-height: 0;
      overflow: hidden;
      padding-bottom: 0 !important;
    }
  }
}
