.tw-accordion-item {
  display: block;
  width: 100%;
  padding: 10px 24px;
  &:hover {
    background-color: #fff !important; // overrides bootstrap rule for .decision
  }

  .chevron {
    vertical-align: middle;
  }

  &.closed {
    .accordion-content {
      height: 0;
      max-height: 0;
      overflow: hidden;
      padding-bottom: 0 !important;
    }
  }
}
