.media .circle .tw-icon {
  margin-top: var(--size-8);
}

.tw-option__sm-media.decision .media-left {
  display: block;
}

.tw-option__no-media-circle {
  width: 48px;
  display: flex;
  justify-content: center;
}

.tw-option__no-media-circle > * {
  max-height: 76px;
}
