// TODO: remove bootstrap dependencies

// variables
@import (reference) "bootstrap/less/variables.less";

/* Using feature queries to detect the support and giving a fallback */

@supports not ((display: grid) and (grid-column-gap:1%)) {
  .d-grid {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;

    > * {
      width: 100%;
      margin-bottom: var(--size-16);
    }
  }

  .grid--1-1-1--md {
    > * {
      width: 30%;
    }
  }

  .grid--1-1-1-1--md {
    > * {
      width: 24%;
    }
  }

  @media (-ms-high-contrast: active), screen and (min-width: @screen-md) and (-ms-high-contrast: none) {
    .d-grid {
      > * {
        margin-bottom: var(--size-32);
      }
    }

    .grid--1-1-1-1 {
      > * {
        width: 23%;
      }
    }

    .grid--1-1-1 {
      > * {
        width: 30%;
      }
    }

    .grid--1-1 {
      > * {
        width: 50%;
      }
    }

    .grid--3-1 {
      > * {
        width: 25%;

        &:first-child {
          width: 75%;
        }
      }
    }

    .grid--2-1 {
      > * {
        width: calc((100% / 3) * 2);

        &:first-child {
          width: calc(100% / 3);
        }
      }
    }
  }
}
