body {
  padding: 1rem;
}

.home {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  min-height: 100vh;
  padding: 0 0.5rem;
}

main {
  display: flex;
  align-items: center;
  flex: 1;
  flex-direction: column;
  justify-content: center;

  padding: 5rem 0;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100px;

  border-top: 1px solid #eaeaea;
}

.docs-header h1 {
  margin-top: 1rem;
}

.link-parent {
  text-transform: capitalize;
}

/* docs-table - copied from docs */
.scroll-table {
  overflow-x: auto;

  width: 100%;
}

.docs-table {
  overflow: hidden;

  border: 1px solid var(--brand-smoke-plus-20);
  border-radius: 3px 3px 0 0;
}

.docs-table > thead > tr > td,
.docs-table > thead > tr > th {
  padding: calc(var(--spacer) * 2) calc(var(--spacer) * 3) !important;
}

.docs-table > tbody > tr > td,
.docs-table > tbody > tr > th {
  padding: calc(var(--spacer) * 3) calc(var(--spacer) * 3) !important;
}

.docs-table .table-condensed > tbody > tr > td,
.docs-table .table-condensed > tbody > tr > th {
  padding: calc(var(--spacer) * 2) calc(var(--spacer) * 3) !important;
}

.docs-table > thead {
  color: white;
  background-color: var(--brand-navy);
}

.docs-table > tbody > tr > th {
  padding-left: 5px;

  color: var(--brand-navy);
}

.docs-table ul {
  margin-bottom: var(--spacer);
  padding: 0;
}

.docs-table li {
  list-style-type: none;
}

.docs-is-visible {
  color: #468847;
  background-color: #dff0d8 !important;
}
