#box .live-preview > div,
#box .flex-docs {
  height: 100%;
}

#box .flex-docs > :nth-child(2n) {
  background-color: var(--brand-pale-blue-minus-10);
}

#box .flex-docs > :nth-child(odd) {
  background-color: var(--brand-pale-blue);
}

#box .demo {
  background-color: var(--brand-navy);
  width: 50%;
  min-height: 50px;
}

#box .live-preview {
  height: 200px;
}
