/*
  DEPRECATED
  Use neptune-tokens.css instead. If the token you want isn't available there, raise an issue in @transferwise/neptune-tokens.
*/
:root {
  --border-radius: 3px;
  --spacer: 8px;
  --space-4: 4px;
  --space-8: 8px;
  --space-12: 12px;
  --space-16: 16px;
  --space-24: 24px;
  --space-32: 32px;
  --space-40: 40px;
  --space-48: 48px;
  --space-56: 56px;
  --space-64: 64px;
  --color-text-link-hover: #00a4df;
  --color-text-link-active: #008ec0;
  --brand-white: #fff;
  --link-color: #00b9ff;
  --brand-pale-blue: #dbf0fd;
  --brand-navy-minus-20: #253655;
  --brand-navy-minus-10: #2e4369;
  --brand-navy: #37517e;
  --brand-blue-minus-20: #111824;
  --brand-blue-minus-10: #192439;
  --brand-blue: #223049;
  --brand-light-blue-minus-10: #00a4df;
  --brand-light-blue: #00b9ff;
  --brand-grey-plus-10: #6f8691;
  --brand-smoke-minus-10: #a8aaac;
  --brand-smoke: #d3d5d8;
  --brand-smoke-plus-10: #e2e6e8;
  --brand-smoke-plus-20: #f2f5f7;
  --brand-green-minus-10: #28b862;
  --brand-green: #2ed06e;
  --gray-base: #f2f5f7;
  --gray-darker: #384347;
  --gray-light: #829ca9;
  --brand-primary: #37517e;
  --body-bg: #fff;
  --text-bold-color: #2e4369;
  --font-size-xx-large: 2.8rem; /* 42px */
  --font-size-x-large: 1.8666666667rem; /* 28px */
  --font-size-large: 1.4666666667rem; /* 22px */
  --font-size-medium: 1.2rem; /* 18px */
  --font-size: 0.9375rem; /* 15px */
  --font-size-small: 0.9333333333rem; /* 14px */
  --font-size-x-small: 0.8rem; /* 12px */
  --line-height: 1.6; /* 24/15 */
}

@media (--screen-md) {
  :root {
    --font-size-xx-large: 2.625rem; /* 42px */
    --font-size-x-large: 1.75rem; /* 28px */
    --font-size-large: 1.375rem; /* 22px */
    --font-size-medium: 1.125rem; /* 18px */
    --font-size: 1rem; /* 16px */
    --font-size-small: 0.875rem; /* 14px */
    --font-size-x-small: 0.75rem; /* 12px */
    --line-height: 1.5; /* 24/16px */
  }
}
