@import '~bootstrap/less/variables';

.tw-money-input {
  .tw-money-input__fixed-currency {
    padding-left: 0 !important;
  }

  &__keyline {
    width: 2px;
    border: solid 1px @brand-smoke;
    height: 24px;
    display: inline-block;
    margin-right: 24px;
    transform: translateY(4px);
  }

  &--disabled {
    background-color: @brand-smoke-plus-20;
    cursor: not-allowed;
  }

  &__fixed-currency {
    span {
      color: @brand-grey-plus-10;
    }

    position: relative;
  }

  /*
  Currency select button is visible on top of the dropdown when there are multiple MoneyInputs visible (Calculator for example).
  Bootstrap sets the z-index of .btn to 2 (https://github.com/twbs/bootstrap/issues/15944)
  We'll reset it to the default value.
  */
  .input-group-btn:last-child {
    > .btn, > .btn-group {
      z-index: auto;
    }
  }
}
