.tw-modal {
  height: 100%;
  width: 100vw;
  outline: none;

  .tw-modal-dialog {
    max-height: 100%;
    transition: transform 0.3s ease-out;
    transform: translateY(-25%);
    height: 100%;
    width: 100%;
  }

  &.in {
    .tw-modal-dialog {
      transform: translate(0);
    }
  }

  .tw-modal-content {
    max-height: 100vh;
    overflow: hidden;
    background: var(--color-background-elevated);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    width: 100%;

    .tw-modal-body {
      // prevents overflowing content to show below modal footer
      z-index: 1;
      flex: 1;
      overflow-y: auto;
    }

    .tw-modal-header {
      min-height: calc(var(--size-8) * 7);
      box-shadow: inset 0 -1px 0 0 rgb(226, 230, 232);

      &.modal--withoutborder {
        box-shadow: none;
      }

      .tw-icon {
        fill: rgb(0, 185, 255);
        cursor: pointer;
        display: block;
        margin-top: -2px;
      }
    }

    .tw-modal-header,
    .tw-modal-footer,
    .tw-modal-body {
      padding: var(--size-16);
    }

    .tw-modal-title {
      max-width: 85%;
    }

    .tw-modal-footer {
      padding-top: var(--size-12);
      padding-bottom: var(--size-12);
      box-shadow: inset 0 1px 0 0 rgb(226, 230, 232);

      &.modal--withoutborder {
        box-shadow: none;
      }
    }

    &.tw-modal-no-title {
      .tw-modal-body {
        padding-top: 0 !important;
      }

      .tw-modal-header {
        min-height: var(--size-32);
        padding-bottom: 4px !important;
      }
    }
  }
}

@media (--screen-xs-max) {
  .tw-modal-dialog {
    padding: var(--size-16);
    max-width:
      calc(
        576px - var(--size-40) * 2 + var(--size-16) * 2
      ); // --size-40 provides a smooth transition to the next padding breakpoint

    &.tw-modal-sm {
      max-width: calc(300px + var(--size-16) * 2);
    }
  }
}

@media (--screen-sm) {
  .tw-modal {
    .tw-modal-dialog {
      height: auto;
    }

    .tw-modal-content {
      .tw-modal-header {
        min-height: calc(var(--size-8) * 8);
      }

      .tw-modal-header,
      .tw-modal-footer,
      .tw-modal-body {
        padding: var(--size-32) var(--size-24);
      }
    }

    .tw-modal-compact {
      .tw-modal-header {
        min-height: calc(var(--size-8) * 7);
      }

      .tw-modal-header,
      .tw-modal-footer,
      .tw-modal-body {
        padding-top: var(--size-16);
        padding-bottom: var(--size-16);
      }
    }
  }
}

@media (--screen-xs) {
  &.tw-modal--content {
    height: auto;

    .tw-modal-dialog {
      max-height: none;

      .tw-modal-content {
        max-height: none;
        overflow: visible;

        .tw-modal-body {
          overflow-y: visible;
        }
      }
    }
  }

  .tw-modal-dialog {
    &.tw-modal-sm {
      width: 300px;
    }
  }
}

@media (--screen-sm) {
  .tw-modal {
    padding: var(--size-40);

    .tw-modal-dialog {
      .tw-modal-content {
        border-radius: 3px;
      }

      &.tw-modal-md {
        width: 540px;
      }
    }
  }
}

@media (--screen-md) {
  .tw-modal-dialog {
    &.tw-modal-lg {
      width: 720px;
    }
  }
}

@media (--screen-lg) {
  .tw-modal-dialog {
    &.tw-modal-xl {
      width: 1000px;
    }
  }
}

/* Internet explorer hack */
// In internet explorer 11 modal shows up always collapsed.
@media all and (-ms-high-contrast: none) {
  /* IE11 */
  /* stylelint-disable selector-no-vendor-prefix, selector-type-no-unknown */
  _:-ms-fullscreen,
  :root .tw-modal {
    height: 100%;

    .tw-modal-dialog {
      height: 100%;
    }
  }
}
